<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://www.xmlns.jcp.org/jsf/html"
	xmlns:f="http://www.xmlns.jcp.org/jsf/core"
	xmlns:ui="www.xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#00bcd4" />
    </f:facet>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema de Pedidos de Venda</title>
	<h:outputScript library="ultima-layout" name="js/nanoscroller.js" />
    <h:outputScript library="ultima-layout" name="js/layout.js" />
    <h:outputScript library="ultima-layout" name="js/ripple.js "/>
    <h:outputScript library="ultima-layout" name="js/swipe.js" />
    <h:outputScript library="js" name="jquery.maskMoney.js" />
    
<h:body class="main-body layout-compact">
	 <h:outputStylesheet library="ultima-layout" name="css/nanoscroller.css" />
     <h:outputStylesheet library="ultima-layout" name="css/animate.css" />
     <h:outputStylesheet library="ultima-layout" name="css/ripple.css" />
     <h:outputStylesheet library="ultima-layout" name="css/layout-cyan.css" />
    
    <div class="layout-wrapper menu-layout-static">
            <ui:include src="./topbar.xhtml"/>
            <ui:include src="./menu.xhtml"/>

            <div class="layout-main">
                <ui:insert name="content"/>

                <ui:include src="./footer.xhtml"/>
            </div>
        </div>

        
        
</h:body>
</h:head>	
	
</html>