<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pu="http://primefaces.org/ultima">
    <h:form id="menuform">
        <div class="layout-menu layout-menu-dark">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <h:panelGroup>
                        <div class="profile">
                            <div class="profile-image"/>
                            <a id="profile-options" href="#">
                                <span class="profile-name">Jane Williams</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                        </div>

                        <ul id="profile-menu" class="ultima-menu">
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">person</i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">security</i>
                                    <span>Privacy</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">settings_applications</i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">power_settings_new</i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </h:panelGroup>

                    <pu:menu widgetVar="me">
                        <p:menuitem id="um_dashboards"  icon="material-icons " value="Dashboard"/>

                        <p:submenu id="themes" label="Themes" icon="material-icons palette">
                            <p:menuitem id="theme1" icon="material-icons brush" value="Indigo - Pink" actionListener="#{themeView.setTheme('ultima-indigo')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme2" icon="material-icons brush" value="Brown - Green" actionListener="#{themeView.setTheme('ultima-brown')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme3" icon="material-icons brush" value="Blue - Amber" actionListener="#{themeView.setTheme('ultima-blue')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme4" icon="material-icons brush" value="Blue Grey - Green" actionListener="#{themeView.setTheme('ultima-blue-grey')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme5" icon="material-icons brush" value="Dark - Blue" actionListener="#{themeView.setTheme('ultima-dark-blue')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme6" icon="material-icons brush" value="Dark - Green" actionListener="#{themeView.setTheme('ultima-dark-green')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme7" icon="material-icons brush" value="Green - Yellow" actionListener="#{themeView.setTheme('ultima-green')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme8" icon="material-icons brush" value="Purple - Cyan" actionListener="#{themeView.setTheme('ultima-purple-cyan')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme9" icon="material-icons brush" value="Purple - Amber" actionListener="#{themeView.setTheme('ultima-purple-amber')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme10" icon="material-icons brush" value="Teal - Lime" actionListener="#{themeView.setTheme('ultima-teal')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme11" icon="material-icons brush" value="Cyan - Amber" actionListener="#{themeView.setTheme('ultima-cyan')}" immediate="true" ajax="false"/>
                            <p:menuitem id="theme12" icon="material-icons brush" value="Grey - Deep Orange" actionListener="#{themeView.setTheme('ultima-grey')}" immediate="true" ajax="false"/>
                        </p:submenu>

                        <p:submenu id="um_customization" label="Customization" icon="material-icons settings">
                            <p:menuitem id="custom1" icon="material-icons fiber_manual_record" value="Compact Size" actionListener="#{themeView.setSize('layout-compact')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom2" icon="material-icons fiber_smart_record" value="Material Size" actionListener="#{themeView.setSize('')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom3" icon="material-icons menu" value="Static Menu" actionListener="#{themeView.setMenuMode('static')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom4" icon="material-icons exit_to_app" value="Overlay Menu" actionListener="#{themeView.setMenuMode('overlay')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom5" icon="material-icons border_horizontal" value="Horizontal Menu" actionListener="#{themeView.setMenuMode('horizontal')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom6" icon="material-icons label_outline" value="Light Menu" actionListener="#{themeView.setMenuColor('')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom7" icon="material-icons label" value="Dark Menu" actionListener="#{themeView.setMenuColor('layout-menu-dark')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom8" icon="material-icons contacts" value="Inline Profile" actionListener="#{themeView.setProfileLocation('inline')}" immediate="true" ajax="false"/>
                            <p:menuitem id="custom9" icon="material-icons person_pin" value="Top Profile" actionListener="#{themeView.setProfileLocation('top')}" immediate="true" ajax="false"/>
                        </p:submenu>

                        <p:submenu id="um_components" label="Components" icon="material-icons list">
                            <p:menuitem id="um_sample"  icon="material-icons desktop_mac" value="Sample Page"/>
                            <p:menuitem id="um_forms"  icon="material-icons input" value="Forms"/>
                            <p:menuitem id="um_data" icon="material-icons grid_on" value="Data"/>
                            <p:menuitem id="um_panels"  icon="material-icons content_paste" value="Panels"/>
                            <p:menuitem id="um_overlays"  icon="material-icons content_copy" value="Overlays"/>
                            <p:menuitem id="um_menus"  icon="material-icons menu" value="Menus"/>
                            <p:menuitem id="um_messages"  icon="material-icons message" value="Messages"/>
                            <p:menuitem id="um_charts"  icon="material-icons insert_chart" value="Charts"/>
                            <p:menuitem id="um_file"  icon="material-icons attach_file" value="File"/>
                            <p:menuitem id="um_misc"  icon="material-icons toys" value="Misc"/>
                        </p:submenu>

                        <p:submenu id="um_default" label="Template Pages" icon="material-icons get_app">
                            <p:menuitem id="um_db_landing"  icon="material-icons flight_land" value="Landing"/>
                            <p:menuitem id="um_empty"  icon="material-icons hourglass_empty" value="Empty Page"/>
                            <p:menuitem id="um_login"  icon="material-icons verified_user" value="Login Page"/>
                            <p:menuitem id="um_error"  icon="material-icons error" value="Error Page"/>
                            <p:menuitem id="um_404"  icon="material-icons error_outline" value="404 Page"/>
                            <p:menuitem id="um_access" icon="material-icons security" value="Access Denied Page"/>
                        </p:submenu>

                        <p:submenu id="um_hierarchy" label="Menu Hierarchy" icon="material-icons menu">
                            <p:submenu id="um_sm1" label="Submenu 1" icon="material-icons subject">
                                <p:submenu id="um_sm11" label="Submenu 1.1" icon="material-icons subject">
                                    <p:menuitem id="um_lnk111" url="#" icon="material-icons subject" value="Link 1.1.1"/>
                                    <p:menuitem id="um_lnk112" url="#" icon="material-icons subject" value="Link 1.1.2"/>
                                    <p:menuitem id="um_lnk113" url="#" icon="material-icons subject" value="Link 1.1.3"/>
                                </p:submenu>
                                <p:submenu id="um_sm12" label="Submenu 1.2" icon="material-icons subject">
                                    <p:menuitem id="um_lnk121" url="#" icon="material-icons subject" value="Link 1.2.1"/>
                                </p:submenu>
                            </p:submenu>
                            <p:submenu id="um_sm2" label="Submenu 2" icon="material-icons subject">
                                <p:submenu id="um_sm21" label="Submenu 2.1" icon="material-icons subject">
                                    <p:menuitem id="um_lnk211" url="#" icon="material-icons subject" value="Link 2.1.1"/>
                                    <p:menuitem id="um_lnk212" url="#" icon="material-icons subject" value="Link 2.1.2"/>
                                </p:submenu>
                                <p:submenu id="um_sm22" label="Submenu 2.2" icon="material-icons subject">
                                    <p:menuitem id="um_lnk221" url="#" icon="material-icons subject" value="Link 2.2.1"/>
                                </p:submenu>
                            </p:submenu>
                        </p:submenu>

                        <p:menuitem id="um_utils"  icon="material-icons build" value="Utils"/>
                        <p:menuitem id="um_doc"  icon="material-icons find_in_page" value="Documentation"/>
                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>