<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title><ui:insert name="title">PrimeFaces Ultima</ui:insert></title>
        <h:outputScript library="ultima-layout" name="js/ripple.js"/>
        <ui:insert name="head"/>
    </h:head>
    <h:body class="#{bodyClass}">
        <h:outputStylesheet library="ultima-layout" name="css/ripple.css"/>
        <h:outputStylesheet library="primefaces-ultima-cyan" name="theme.css"/>
        <h:outputStylesheet library="ultima-layout" name="css/layout-cyan.css"/>

        <ui:insert name="content"/>
    </h:body>
</html>