<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template/template2.xhtml">
    <ui:param name="bodyClass" value="exception-body error-page"/>

    <ui:define name="content">
        <div class="exception-type">
            <p:graphicImage value="#{resource['ultima-layout:images/error.svg']}"/>
        </div>

        <div class="card exception-panel">
            <i class="material-icons">error</i>
            <h1>Exception Occured</h1>
            <div class="exception-detail">Please contact system administrator</div>
            <p:button value="Homepage" styleClass="secondary"/>
        </div>
    </ui:define>
</ui:composition>